@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Project START!</h1>
    <p class="lead">This will be the first of the class site.</p>
</div>

<p>@(@DateTime.DaysInMonth(1990,11) + @DateTime.Now.Second)</p>