@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Spring 2021 Course Enrollment</h1>
    <p class="lead">Browse and Enroll in classes on the "Courses" page!</p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Open Enrollment</h2>
            @if (User.Identity.IsAuthenticated)
            {
                if (User.IsInRole("TeacherRole"))
                {
                    <p>View Enrolled Students Here : </p>
                    <p>@Html.ActionLink("Courses", "Courses", "Teacher")</p>
                }
                else
                {
                    <p>View courses available : </p>
                    <p>@Html.ActionLink("Courses", "Courses", "Student")</p>
                }
            }
        
    </div>
    <div class="col-md-4">

    </div>
    <div class="col-md-4">

    </div>
</div>